
*.gz
*.aux
*.log
*.pdf
latex-quick-start-tutorial.run.xml
latex-quick-start-tutorial-blx.bib
latex-quick-start-tutorial.out
latex-quick-start-tutorial.toc
*.xml
*.bib
*.out
*.toc
*.bcf
*.lof
*.lot
*.aux